body {
    font-family: sans-serif;
    margin-top: 60px;
    background-color:rgb(255,140,0);
    background-image:url(https://www.google.co.in/search?q=professional+background+images&espv=2&biw=1396&bih=690&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjLhdGD5aDQAhUGPY8KHZogBuwQ_AUIBigB#tbm=isch&q=professional+background+images+blue&imgrc=IGHGAdXEvD-OmM%3A);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
            max-width: 800px;
            margin: 0 auto;
            color: black;
            font-family: sans-serif;
            padding-left: 20px;
            padding-right: 20px;
        }